# --- IDEs and Editors ---

# JetBrains (PyCharm, IntelliJ, etc.)
.idea/
*.iws
*.iml
*.ipr
out/
cmake-build-debug/
job_lib/

# Visual Studio Code
.vscode/*
# --- Python Specific (Common for PyCharm users) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/
env/
.env
.venv/

# --- wandb logs
training/wandb
wandb/
**/wandb/

# --- catboost logs
catboost_info/
**/catboost_info

# --- Operating System Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Log files ---
*.log
